[2015-08-18 14:52] apokyro opened #1 "When creating a post does't conditionally display the fields"
Hi, great addon for CMB2!

I just give it a try and it works well when you save a post, but before the first save it seems like doesn't. If I save the post then it's all good.

Also, is it possible to use the conditional display as a radio button? I tried it and it works only on select.

Thank you.

[2015-08-19 05:48] jcchavezs commented on #1
Hi @apokyro. I have fixed this issue, now all the conditionals are available from the beginning.

Regarding the conditional in the radio, can you give a use case so I can decide the best approach?

[2015-08-19 06:59] apokyro commented on #1
Hi again. I tested and it works perfect. Thanks

In my project I want to let the user select a layout in a radio form like the attach image:
![untitled-1](https://cloud.githubusercontent.com/assets/10621109/9350332/8a3bd2fa-4658-11e5-979d-2eb1c47e2f4a.jpg)

So, depending the radio selection I want to display fields.
Is that possible?

Thanks

[2015-08-19 10:09] jcchavezs commented on #1
Hi @apokyro. I have added support to radio input type. I also included an example in the example-functions.php file.

[2015-08-19 10:26] apokyro commented on #1
Thanks @jcchavezs. I appreciate your help. I will tested and if I found something I will post back.
 Thanks again.

[2015-08-27 03:03] fujianto opened #2 "Didn't work on Group Field"
Hello,

First, thanks for the great addon.  A real life saver on my current project.
I've tried to use it on Group Field but it didn't work. Here's my code, hope you can tell me which mistakes I've made.

		  $ads_box->add_field( array(
		  	'name'    => __('Preroll Video Sources' , 'orangerdev-base'),
		  	'id'      => $prefix . 'preroll_sources',
		  	'type'    => 'radio_inline',
		  	'default'

[2015-08-27 06:27] fujianto commented on #2
I found out on Group Field data-conditional-id and  data-conditional-value doesn't exist on the markup.When I add it manually, the conditional is working. Any idea how to fix it?

[2015-08-27 06:27] jcchavezs commented on #2
It looks like the group element does not consider the attributes you pass to. We need to add some changes here but first we need to see if the API allow us to do so.

[2015-08-27 06:32] jcchavezs commented on #2
I think it will take some time. I will look into it during the weekend.

[2015-08-27 08:03] fujianto commented on #2
Is it possible to filter render_group() output to ad data-conditional-id and data-conditional value? Currently, I add it manualy on CMB2.php like this.

      $con_id = $field_group->args('attributes')['data-conditional-id'];
      $con_value = $field_group->args('attributes')['data-conditional-value'];

      echo '<div class="cmb-row cmb-repeat-group-wrap"><div class="cmb-td"><div id="', $field_

[2015-08-28 14:13] safiro commented on #1
How to use this as a part of theme not plugin ?
I'm using a Select with id "select_style" with options

'options' => array(
    'first_style' => 'First Style',
    'second_style' => 'Second Style',
    'third_style' => 'Third Style',
)

and I want when I select First Style, a text field with id "add_title" displayed, when I select Second Style, the text field disappeared and colorpicker with id "a

[2015-08-28 14:31] apokyro commented on #1
You can add to your theme folder the plugin like this:
theme_name/folder_name/cmb2-conditionals/

then include this line to your functions.php
``require get_template_directory() . '/folder_name/cmb2-conditionals/cmb2-conditionals.php';``

Last change this code from cmb2-conditionals.php
``wp_enqueue_script('cmb2-conditionals', plugins_url('/cmb2-conditionals.js', __FILE__ ), array('jquery'), '1.0.

[2015-08-28 15:06] safiro commented on #1
Hi apokyro,
I did all that as you say ,
and in cmb-functions.php which exists in main cmb folder "not cmb2-conditionals function file".

I added this code but it didn't work on changing selections:
the text field is always displayed.

function cmbcond(array $cmbcond){
	$cmbcond[] = array(
	'title'=> 'Conditional Select',
	'id'=> 'condsecy',
	'object_types'=> array('page','post'),
	'fields'=> array

[2015-09-03 10:31] 0Neji opened #3 "Plugin Doesn't Exists on Wordpress.org?"
Just looking at using this plugin as it looks like exactly what I need. The link in your readme doesn't lead anywhere however - neither does it come up via searching.

Not a big deal, I can grab it from here but thought you'd might like to know.

[2015-09-03 10:35] jcchavezs commented on #3
Thanks for the feedback. I have been discussing it with Wordpress, they do not allow me to use cmb2-conditionals as slug because I am not part of the [CMB2](https://github.com/WebDevStudios/CMB2) team. These days have been crazy as I am moving from Norway to Spain but as soon as I manage to stablish my self there I will pick issues in CMB2 so I become "part of the team" and after that I can publis

[2015-09-03 10:55] 0Neji commented on #3
Ahh, I see. Thanks for the udpate!

Nice work on the plugin by the way - working perfectly!

[2015-09-03 10:55] #3 closed

[2015-09-14 12:05] dameer opened #4 ""let" statement in cmb2-conditionals.js"
The let keyword in Mozilla Firefox is only available to code blocks in HTML wrapped in a &lt;script type="application/javascript;version=1.7"&gt; block (or higher version).
...otherwise console will output an error.
Any replacement for "let" that is more close to the coding standards?

[2015-09-28 03:51] fauzie opened #5 "Array Conditional Value"
I have `radio_inline` field with options value '1', '2', '3'.
next on this i have select with conditional value, if radio option 2 or 3 selected:
[code]

But, its print html with invalid quotes, make select not working on change & won't save value with invalid html markup.

`<select class="cmb2_select" ... data-conditional-value="["2","3"]" required> ....`

[2015-10-01 11:13] pbearne opened #6 "doesn't hide wysiwyg types"
Hi

I have found that if I use a wysiwyg typeit dones hide it

It doesnt get added to the jQuery('[data-conditional-id]') array

this doesn't work

$cmb->add_field( array(
			'name'    => __( 'Slide content', Config::get_text_domain() ),
			'desc'    => __( 'field description (optional)', Config::get_text_domain() ),
			'id'      => self::$cmb_prefix . 'content',
			'type'    => 'wysiwyg',
			'opt

[2015-10-27 17:57] ingageco commented on #4
Dameer - I solved this problem in FF by changing all instances of "let" to "var". @jcchavezs may be able to give some clarification to what this could affect, but currently everything seems to be working fine.

[2015-10-28 08:40] dameer commented on #4
Yeap, I did that too and no problems thus far. Thanks!

[2015-10-28 08:48] jcchavezs commented on #5
Hi @fauzie,

I will check on it but i am afraid, it is out of the scope of cmb2-conditionals as the responsible for rendering the attributes is cmb2.

I will come back with a solution anyways.

[2015-11-29 10:58] jcchavezs commented on #4
Hi @dameer @ingageco, I have replaces the usage of let in favor to "var" in order to fix the compatibility with old browsers.

[2015-12-12 13:38] ruturaaj opened #8 "Multiple conditions"
Hi,

I'm facing problem in my scenario. The scenario is like this: Field 2 depends on the value of Field 1 AND Field 3 depends on the value of Field 2. So, eventually Field 3 depends on Field 2 (directly) and Field 1 (indirectly).

With the current cmb2-conditionals, it toggles visibility of Field 2 with the condition on value of Field 1. However, the Field 3 is left visible even though its condit

[2015-12-19 06:08] ruturaaj commented on #8
Anybody to share solution/thoughts on this issue?

[2015-12-22 06:56] #4 closed

[2016-01-09 11:48] lw12 opened #10 "Conditionally display text box based on selected taxonomy_multicheck value"
Hello, Great plugin.

Can you please help me with taxonomy_multicheck. I'm trying to conditionally display a text box if a particular taxonomy is selected, but don't seem to be able to work out how to do it.

Many thanks

[2016-01-09 11:57] jcchavezs commented on #8
Hi @ruturaaj, can you please post the configuration file for the fields so I can reproduce it in my local environment?

[2016-01-15 09:50] fakeartist opened #11 "Install fatal error"
When I try to install the plugin I get the error:

Parse error: syntax error, unexpected ':' in C:\wamp\www\grid\wp-content\plugins\cmb2-conditionals\cmb2-conditionals.php on line 71

Is this a bug?

[2016-01-15 09:57] jcchavezs commented on #11
Hi @fakeartist, which version of PHP so you have?

[2016-01-15 09:58] fakeartist commented on #11
I have 5.2.5. I guess it's only compatible with PHP > 5.3, right?

[2016-01-15 10:14] jcchavezs commented on #11
I can fix it for 5.2.5 as CMB2 has >5.2.4.

[2016-01-15 10:19] jcchavezs commented on #11
@fakeartist done.

[2016-01-15 10:23] fakeartist commented on #11
Fast and furious! I'm really impressed! Possibly the fastest ticket closed ever! Thanks a lot! Cheers

[2016-01-15 10:23] #11 closed

[2016-01-15 10:45] jcchavezs commented on #10
Can you send me your config file so I can test it?

[2016-01-16 16:06] lw12 commented on #10
Hello,

I want to be able to show the text area below when a specific taxonomy value is selected but don't know what to put in the data-conditional-value...

	$details->add_field( array(
				    'name'     => 'Edition Type',
				    'id'       => 'wiki_test_taxonomy_radio1',
				    'taxonomy' => 'product_tag',
				    'type'     => 'taxonomy_multicheck',
				    'select_all_button' => false,

[2016-01-29 05:09] EricTousignant commented on #6
Hi @pbearne, I ran into the same issue and I found a fix by analyzing the JS file.

The JS parser is simply looking for any HTML tag with the _data-conditional-id_ attribute.
Once it finds one, it checks for the other data attribute options (_data-conditional-value_ and _data-conditional-required_) and then flags that **row** as needing to be hidden or displayed.

So, if you simply use one of the

[2016-01-29 05:25] EricTousignant commented on #2
Hello, I needed this feature on a client's project and managed to fix this issue.

The problem is the _data-conditional-id_ is not matching the expected field if it's inside a repeatable region. The CMB2 generated _name_ attribute is in the form of an array with an iterator.

After some tests (forcing a specific _data-conditional-id_), I was able to make the plugin work with repeatable regions by

[2016-02-04 02:03] jrfnl commented on #8
@ruturaaj @jcchavezs I ran into the same issue.

If I may summarize it - the fields display correctly based on the conditions. However the 'grand-child' field(s) don't *hide* correctly when the 'grand-parent' changes again.

I've included some code you could add to the example file to reproduce the issue.

If you click the checkbox, the radio set displays. If you then click on Option A or B, the t

[2016-02-04 03:36] #8 closed

[2016-02-04 03:38] jrfnl opened #15 "Travis failures"
Just wondering what you intended to test via travis as the current script is failing badly.

Also, you are cloning https://github.com/Seravo/wordpress-test-template which is an out-of-date fork of https://github.com/Koodimonni/wordpress-test-template
The travis script might start working again if you switch to the original repo.

[2016-02-04 03:41] jcchavezs commented on #15
Thank you @jrfnl. I just fixed it.

[2016-02-04 03:42] #15 closed

[2016-02-04 08:50] jrfnl commented on #2
I've been working on patching both the issues contained in this thread:

1. Conditional groups (original issue from @fujianto ) - see https://github.com/jrfnl/cmb2-conditionals/tree/feature/fix-issue-2-group-conditionals
2. Fields conditional on other fields within groups (issue from @EricTousignant ) - see https://github.com/jrfnl/cmb2-conditionals/tree/feature/conditionals-within-groups

For iss

[2016-02-05 08:50] jrfnl opened #16 "WP Coding standards and staying out of global namespace"
Hi José,

Would you be open to me changing the code to comply with the WordPress coding standards and to refactor the functions to a class ?

[2016-02-05 11:56] jcchavezs commented on #16
@jrfnl that is something I have been thinking lately but I had no time for that. Feel free on doing it by a PR.

PS: My name is José Carlos.

[2016-02-05 16:52] jrfnl commented on #16
My apologies, didn't mean to mangle your name. Forgive me.

[2016-02-06 00:20] jrfnl commented on #10
Hi @lw12 This should be fixed by PR #17. Would be great if you would take the time to test it. The example file in the PR contains an example of how to use this plugin with multicheck type fields.

[2016-02-06 00:23] jrfnl commented on #2
Hi @EricTousignant Part 2 of this issue - the conditions between group fields - should be fixed by PR #17. Would be great if you would take the time to test it. I've used a slightly different syntax than the oe you proposed. The example file in the PR contains an example of how I've implemented it.

[2016-02-06 00:26] jrfnl commented on #15
Unfortunately this didn't fix it.
If you like, I'll send in a PR to replace the travis script with a completely different one which will test against PHP parse errors, js errors, js code style and PHP code style.

[2016-02-06 04:51] jrfnl commented on #16
As I was working on your code now anyway.... I got this sorted. Got a passing build ready for once the other PR (#17) has merged.

[2016-02-25 12:46] mac2net opened #18 "Problem with"
Hi

I added this to a plugin.
No problem using this with a normal CPT, but the conditionals don't seem to work when added to the [options-and-settings-pages](https://github.com/WebDevStudios/CMB2-Snippet-Library/tree/master/options-and-settings-pagesl) snippet.

Any ideas?
Thanks
Mike

[2016-02-25 14:13] jrfnl commented on #18
If you look at the code you referred to, you'll see that it [enqueues the CMB2 CSS](https://github.com/WebDevStudios/CMB2-Snippet-Library/blob/master/options-and-settings-pages/theme-options-cmb.php#L88). This is not done automatically for options pages.

The same needs to be done for the CMB2 conditionals javascript. There currently isn't a great way to do this other than enqueueing the script yo

[2016-02-25 14:28] mac2net commented on #18
Thanks!
No problem doing this.
I already added tabs to the option page and fiddled with some CSS to get the same spacing.
Since I am all in on CMB2, I guess I'll print out the code and read i over a ☕ verkeerd.

[2016-02-25 14:59] jrfnl commented on #18
;-)

[2016-02-26 12:14] mac2net commented on #18
Unfortunately I am pretty sure it still doesn't work.
To reduce variabilities I used just the sample conditional metaboxes and loaded the JS w/o restrictions.
I just had to make one change using the existing ID w/o the prefix and also the options page action.

In the source, the conditional boxes all had the proper attributes. The CSS and JS were loaded properly
And on the page, everything display

[2016-02-26 14:40] mac2net commented on #18
Now it's working!
I am going to have to read the code.
In my plugin I enqueued the JS and gave it a different ID from the from the enqueue in cmb2-conditionals.php. Even though it wasn't loading from cmb2-conditionals.php it was still using that ID.
So when I changed my enqueue to that ID it worked.
I had previous cleared the browser cache so that's not the source of the problem.
Transients perhap

[2016-02-26 15:53] jrfnl commented on #18
You may want to have a look at PR #17 as contains some pretty big changes for CMB2-conditionals. Also, once that's merged, I'll address #16, so the code is going to be undergoing some large changes in the near future ;-)

[2016-02-26 19:21] mac2net commented on #18
BTW I added the CPT label to the multicheck display. I also added tabs and fiddled a bit with the CSS to get that "genuine WordPress options page look and feel".

But, frankly, the first code I wrote came out on punch cards and my PHP kind of tells the same story.

[2016-02-26 19:28] jrfnl commented on #18
Not sure what you mean - can you explain ?

[2016-02-26 19:31] mac2net commented on #18
It works but it doesn't look pretty.
[Beautiful Code](https://tommcfarlin.com/beautiful-code-in-wordpress/)

[2016-02-26 19:46] jrfnl commented on #18
Once it works, making it pretty is generally not that hard ;-)

[2016-02-26 19:54] mac2net commented on #18
It also has to be correct!
This is the multicheck code for CPTs w/labels.
I have only just started with the Settings API.
Most of what I have been doing is working with CPTs (which is why I noticed it wasn't using the label).

	add_action( 'cmb2_render_multicheck_posttype', 'ds_cmb_render_multicheck_posttype', 10, 5 );

		function ds_cmb_render_multicheck_posttype( $field, $escaped_value, $object_

[2016-02-26 20:29] jrfnl commented on #18
Looks like you based the code of https://github.com/WebDevStudios/CMB2-Snippet-Library/blob/master/custom-field-types/multicheck_posttype-field_type.php ?
You could send in a PR to fix it in that repo. Could be helpful to others.

Other than that, this is more a CMB2 issue now than a CMB2-conditionals one, so I suggest closing this issue as the original question was answered & you got that working

[2016-02-26 20:30] #18 closed

[2016-03-12 00:43] syedalamabbas opened #19 "I tried to use cmb2 conditionals with frontend form editing of the snippet lib, and its not working."
Hi ,
               I dont know what settings I am missing or is it dysfunctional in the way I want to use. I copied 'cmb2-conditionals.php'  and 'cmb2-conditionals.php'  in my theme folder.  (I am not using this as a plugin).  I place the following code in the 'cmb2-front-end-submit.php' :
`/**
 * Get the cmb2 bootstrap
 */
if ( file_exists(  __DIR__ . '/cmb2/init.php' ) ) {
	require_once  __DIR_

[2016-03-12 02:03] jrfnl commented on #19
You'll need to enqueue the CMB2-conditionals JS file. This is not done automatically for non-CPT pages.
There currently isn't a great way to do this other than enqueueing the script yourself (mind the path!):

`wp_enqueue_script('cmb2-conditionals', plugins_url('/cmb2-conditionals.js', 'path/to/CMB2_conditionals/file'), array('jquery'), '1.0.2', true);`

FYI: I have a PR in the works which will ma

[2016-03-14 20:37] MickeyKay opened #20 "Request: add composer.json file"
Hi there,

This is a great project - thanks so much for creating it! One request, it'd be great if you could add a composer.json file and make this one public.

[2016-03-14 20:40] MickeyKay opened #21 "Request: add composer.json file"
Hi there,

This is a great project - thanks so much for creating it! One request, it'd be great if you could add a composer.json file and make this one public.

[2016-03-14 20:40] #21 closed

[2016-04-25 17:44] EricTousignant commented on #2
Hello @jrfnl, I did not have an opportunity to test your fix. It seems to have been rejected?

Please let me know if you want me to test something again?

It seems my fix is not flawless either (the javascript part fails to work on second item).

[2016-04-25 19:17] jrfnl commented on #2
Hi @EricTousignant

Not as far as I know, the PR is still open. (The red cross behind it has nothing to do with the PR, but with a wrongly configured Travis setup)

If you could check out my branch and test with it, that would be great! The PR contains the complete changelog of fixes included and changes I made to make it work if you need more information.

Yeah, I ran into that, which is why I co

[2016-04-28 14:56] Berdych commented on #2
Hi @jrfnl
I've just applied your branch and it solved my problem with newly added repeatable entries. Thank you very much. But I still need your help. How can I hide `'type'  => 'title'` in group from here?
http://screenshotuploader.com/s/1604okk3n

[2016-04-28 20:39] jrfnl commented on #2
@Berdych Thanks for testing & glad to hear it works for you!

AFAICS this is a CMB2 native question and has nothing to do with CMB2-conditionals or this issue.

[2016-04-29 12:00] wpsoul opened #22 "Plugin breaks tabs and accorditions of other plugins"
I found a bug and incompatibility with different plugins. For example, with Visual Composer.

Error code is TypeError: caller is undefined

I found that this part causes issues

`	$.each(['show', 'hide'], function (i, ev) {
		var el = $.fn[ev];
		$.fn[ev] = function () {
			this.trigger(ev);
			return el.apply(this, arguments);
		};
	});`

Fix which helps me - I changed to this code

`    $.each([

[2016-05-03 14:40] Berdych commented on #2
@jrfnl Your version of extension does not work in [Options and Settings Pages](https://github.com/WebDevStudios/CMB2-Snippet-Library/tree/master/options-and-settings-pages) - **File:** theme-options-cmb.php

I have added edit.php but it didn`t help.

`if(!in_array($pagenow, array('post-new.php', 'post.php', 'edit.php'))) {`

![g4egu](https://cloud.githubusercontent.com/assets/12550941/14986735/ce6

[2016-05-03 15:05] jrfnl commented on #2
@Berdych Andrew, just checking - but did the extension work in Options and Settings pages before applying the changes ? If not, this is not an issue with the PR, but with CMB2-conditionals as it was.

The PR only addresses the conditionals within groups and related issues found when working on that. Nothing else.

There have been several issues reported by other people about using CMB2-conditional

[2016-05-04 03:14] Douglas-Marzean opened #23 "Not Working On Frontend"
I have this working in admin area but not working on frontend. Any suggestions?

[2016-05-04 15:49] Berdych commented on #2
@jrfnl The simplest solution I could find to the Settings page:
`<div id="post">
	<?php cmb2_metabox_form( $this->metabox_id, $this->key ); ?>
</div>`

[2016-05-05 21:18] jrfnl commented on #2
@Berdych Yes, that would work ;-)
Might be an idea to add an FAQ about this to the readme ?

[2016-05-06 23:35] Berdych commented on #2
Your right. Add it. I think you can guess what the problem was. ;-)

[2016-06-04 02:47] siamzam commented on #2
@jrfnl
Thanks for the solution to the issue 2 "Fields conditional on other fields within groups". It works great.
However, there is one small problem. Whenever the group elements are sorted using the up and down buttons the conditional functionality does not work e.g. all the hidden elements are shown again.

Can you plz have a look at that?

[2016-06-06 23:15] jrfnl commented on #2
@siamzam When I have some time, I'll try and have a look. If you'd find a solution yourself in the mean time, you could send in a PR against the feature branch and I'll have a look.

[2016-06-07 07:48] #10 closed

[2016-06-07 11:23] jrfnl opened #24 "Conditionals not working when group elements are reordered."
From @siamzam in #2:

[2016-06-07 11:25] jrfnl commented on #2
@jcchavezs Could you please re-open this issue ? This has only partially been fixed.

Open :

[2016-06-07 11:44] jcchavezs commented on #2
Sure @jrfnl

[2016-06-07 13:42] jrfnl commented on #22
Hi @wpsoul, thanks for reporting & providing a solution.

I've come up with a slightly simpler solution and I'm wondering if that would solve it just the same.
Would you mind testing it ?

You can find my alternative solution here: https://github.com/jrfnl/cmb2-conditionals/tree/feature/fix-issue22-compat-alternative

[2016-06-07 15:17] wpsoul commented on #22
Can you tell me which of files were changed? because I added many other small changes in extension, so, currently don't want to change whole extension

[2016-06-07 15:42] jrfnl commented on #22
On second thought, I don't think the alternative will work.

All the same, I'm interested to hear what other changes you've made to the plugin. Anything you think might be useful to others ? Anything which could be turned into a PR (or several PRs) ?

Oh and FYI:
Pro-tip: if you check out the plugin via git, you can create a new branch with another name to make your own changes in and just change

[2016-06-07 15:44] jrfnl commented on #22
Oh and also FYI - you can see the exact changes I made in the commit to that specific branch: https://github.com/jrfnl/cmb2-conditionals/commit/d7c766255c2a16638a905df2ed448386c6f0394a

[2016-06-13 19:21] cooms13 commented on #22
Hi, we have encountered the same incompatibility with Visual Composer. I don't quite understand the inner-working of your plugin/code, but we tried the following solution and it seemed to work in our initial tests. Basically, we limited the scope of the "each" where you add the show/hide events:

Original
`$.each(['show', 'hide'], function (i, ev) {`

New
`$('.cmb2-row').each(['show', 'hide'], fun

[2016-06-13 19:27] jrfnl commented on #22
@cooms13 That sounds like a great solution! Would you be willing to send in a PR ?
@wpsoul - could you test that it works for your use-case as well ?

[2016-06-13 20:51] cooms13 commented on #22
@jrfnl I just started but I had one question before I send the PR. Should the selector be more greedy than .cmb2-row? Should it apply to that and EVERYTHING below it? Again, I don't really know the inner-workings of your plugin. If you're comfortable with the solution, I will do the PR. Thanks!

[2016-06-14 00:10] jrfnl commented on #22
@cooms13

Good point. The script in general looks at html elements within `'#post', '#post .cmb2-wrap'`.

Let me try and explain how it works:

It basically checks any form elm within those divs for a _change_ and if a change has been detected, it will check if any other elms are conditional on that form elm and if so, show or hide it and potential child-dependents, depending on the set conditions

[2016-06-14 12:42] cooms13 commented on #22
So, I have another idea. Is it possible to keep the selector as you currently have it but make the custom event names that are created less generic? For example:

`$.each( [ 'cmb2c-show', 'cmb2c-hide' ], function( i, ev ) {`

This would require that lines 49 and 52 would need to change perhaps like this:

`$conditionParent.on('cmb2c-hide', function(evt){`

and

`$conditionParent.on('cmb2c-show', f

[2016-06-14 12:48] jcchavezs commented on #20
Hi @MickeyKay it is done now :)

https://github.com/jcchavezs/cmb2-conditionals

[2016-06-14 12:48] #20 closed

[2016-06-14 14:04] jrfnl commented on #22
Hi @cooms13 *grin* I was thinking along the same lines earlier - https://github.com/jcchavezs/cmb2-conditionals/issues/22#issuecomment-224283925 :sunglasses:

Unfortunately, I now don't think that will work as we need to pick up on the jQuery 'show'/'hide' events and they are called 'show', 'hide', not 'cmb2c-show' / 'cmb2c-hide', which is why I discarded the idea rather quickly.

The easiest way

[2016-06-14 16:47] cooms13 commented on #22
Hi, just so I'm clear, as a rule, if a required field is "hidden", should the form submit?

[2016-06-14 16:53] cooms13 commented on #22
So, I just tested it. I added a required text field and made it dependent on a checkbox field. I submitted the form. It triggered the required field and would not submit. Then, I unchecked the checkbox which hid the required text field and submitted the form. It submitted successfully.

All this was done with the code change I wrote 4 hours ago. Do you have any other scenarios that I can test to s

[2016-06-15 02:32] jrfnl commented on #22
Yes it should - "required" should only be enforced for visible fields.

[2016-06-15 02:34] jrfnl commented on #22
Great! Would be nice if some more people could test it as well, but if you're confident about that the solution will work despite my earlier misgivings, I'd say: go for the PR ;-)

[2016-06-15 05:36] jcchavezs commented on #22
@cooms13 I also encourage you to go for the PR and to read [CONTRIBUTING.md](https://github.com/jcchavezs/cmb2-conditionals/blob/master/CONTRIBUTING.md) for this purpose.

[2016-06-16 17:12] jrfnl commented on #23
Duplicate of #18, #19

[2016-06-16 20:47] #16 closed

[2016-06-22 07:29] siamzam opened #27 "Conditionals Does not work for field type 'title'"
If the field type is title the conditional attributes are not applied. This is a desirable to have where one field controls the visibility for a large number of other fields and title fields are needed to act as separators between the fields or to add som extra information.

[2016-06-22 07:30] siamzam commented on #27
changed the title a bit.

[2016-06-22 13:08] siamzam opened #28 "Takes VERY long time when the number of groups increases"
I have 10 groups with different fields in each group. After saving or updating the page the cmb2-conditionals JS code takes VERY long time to execute (around 30 seconds). During this time the page gets locked for editing.

With 2 or 3 groups it and conditional fields it works fine.

[2016-06-28 20:56] cscheltinga commented on #22
Had the compatible issues with Visual Composer as well. Fixed it with @cooms13 solution:

**Original**
`$.each(['show', 'hide'], function (i, ev) {`

**Replace with**
`$('.cmb2-row').each(['show', 'hide'], function (i, ev) {`

On line 8.

Thnx guys!

[2016-07-01 11:50] cooms13 commented on #10
Hi, all. I've seen a few threads about conditionals within groups, but I can't seem to get it to work. Based on reading the threads/pull requests/etc....i *think* it's now supported, Here's a bit of sample code that's not currently working. Basically, within a group, I want some fields to show or hide based on another field within the same group:

`// the metabox
$metabox_content = new_cmb2_box( a

[2016-07-12 09:35] csrui opened #29 "When editing a post, every single input is forced a change event"
This block of code is being executed on elements that have no business touching.

[code]

For example the language dropdown is being triggered which produced a modal box every time we try to edit a post or page.

[code]

<img width="438" alt="editar_pagina_ _fundacao_calouste_gulbenkian_ _wordpress" src="https://cloud.githubusercontent.com/assets/205312/16762335/fbf0e000-481b-11e6-9ac3-75e5518455c

[2016-07-18 06:36] ShariqKhan2012 commented on #2
Hi,
Thank you for the wonderful add-on!

I have a question though.
Has the code for making entire groups conditional been implemented? I ask because I am nto able to do so. May be I am using incorrect code?

My code is:

[code]

Best regards,
Shariq Khan

[2016-07-18 06:40] ShariqKhan2012 commented on #2
Hi,
Thank you for the wonderful add-on!

I have a question though.
Has the code for making entire groups conditional been implemented? I ask because I am nto able to do so. May be I am using incorrect code?

My code is:

[code]
Best regards,
Shariq Khan

[2016-07-18 07:52] ShariqKhan2012 opened #30 "Does not work correctly with repeatable type fields."
Nice work. Very handy addon.
However I came across a bug while doing some testing.
If I try to make a repeatable field (say X) conditional on another field (say Y), then it does not work correctly.

The code is from the example file found in the plugin directory itself.

[code]

The visibility is toggled fine intially, but when I try to "Add row", then things start breaking.
First, the "Add row" s

[2016-08-14 01:14] mckernanin opened #31 "Plugin is no longer in WP.org repository"
When clicking on the link in the readme, this plugin is no longer available.

[2016-08-19 21:49] WhereBeTheDan commented on #30
I wouldn't call this a bug since the plugin author never states that it will work with repeatable fields, only within repeatable _groups_. Since many of the core field types from the core cmb2 plugin aren't available as repeatable fields, the assumption that an addon would work for repeatables is probably unfair. That being said, getting this to work for repeatable fields would be a most excellent

[2016-09-08 16:35] BeFiveINFO commented on #6
@EricTousignant

Thanks a lot. It has helped!

To add a note, I had to use json in the data value for multiple conditions. In that case the after_field value needed to be bracketed with double quotes otherwise it did not work.

`'after_field' => "<input type='hidden' data-conditional-id='tm_grid_box_type' data-conditional-value='".wp_json_encode( array( 'text', 'text_with_thumbnail' ) )."'>",`

Ou

[2016-09-10 14:49] BeFiveINFO commented on #6
I just found out that the workaround does not work with the current version ( https://github.com/jcchavezs/cmb2-conditionals/blob/9da413d34dbbb4267ee8fa43cfe946bafc28ee91/cmb2-conditionals.js as of writing). I had to add id attribute to the input element:

`'after_field' => "<input type='hidden' id='the_example_settings_field_id' data-conditional-id='tm_grid_box_type' data-conditional-value='".wp_

[2016-09-20 22:15] lukedanielson commented on #10
Were you able to get this to work @cooms13 ?

[2016-09-24 17:15] jquimera opened #33 "It's not working in taxonomies: tag and category"
Hi, how do I get the cmb2-conditionals work in metaboxes: tags/categories,  edit-tags.php/terms.php

[2016-10-21 19:57] kassanj commented on #2
Hi there, has anybody been able to resolve hide/show group type? I would like the entire group to go away, but I'm still left with the image below. Any help would be greatly appreciated!
![screen shot 2016-10-21 at 3 55 16 pm](https://cloud.githubusercontent.com/assets/10423673/19609771/111d1ba8-97a7-11e6-9842-8b92d1cb8379.png)

[2016-11-18 18:17] fakeartist opened #34 "Does in work on nested items?"
Hi! First of all, an excellent addition to cmb2!

I have the following settings:

`$event_metaboxes->add_field(array(
            'id' => $prefix . 'repeatable',
            'name' => 'Repeatable event',
            'type' => 'radio_inline',
            'options' => array(
                'yes' => __('Yes', 'cmb2'),
                'no' => __('No', 'cmb2'),
            ),
            'default' =>

[2016-11-23 12:22] dgwatkins commented on #29
We have reports of this in the WPML support forum too:
https://wpml.org/es/forums/topic/al-abrir-los-productos-me-aparece-un-mensaje-para-cambiar-el-idioma-del-mismo/

What happens is that WPML displays a popup notice when the language of a post is changed. In this case the language hasn't really been changed, just the 'change' event has been triggered by the JS code mentioned in the previous comm

[2016-12-02 04:28] jrfnl commented on #29
This plugin allows for conditions based on the "normal" WP edit post fields as well, so the triggering of the `change` event is correct AFAICS. Could you explain in more detail what the actual problem is that's being caused by it ? Maybe with some screenshots ?

[2016-12-09 16:07] fakeartist commented on #34
Also, as a side notice, when the page opens for the first time, the nested conditional logic works great! The problem is, when you later click weekly and the 'No' radio button of the 1st field, and then again the 'Yes' radio button.

[2016-12-12 22:35] galengidman commented on #6
@EricTousignant Your method works great, with one catch. The name attribute must be defined and have a value on the hidden input. I just used `name=asdf` which seemed to work fine.

[2016-12-26 00:20] Jnspg opened #35 "Multiple attributes doesn't take first data-conditional-value into account"
Hello,

First of all, tank you very much for all the work you've put into this plugin, and for the help you might be able to provide.

I've created 2 radio fields and I would like a field appear according to the combo of options.

	$cmb->add_field( array(
		'name' => __( 'Format', 'cw' ),
		'id' => $prefix . 'format-radio',
		'type' => 'radio_inline',
		'options' => array(
			'file' => __( 'upload

[2016-12-27 18:42] csrui commented on #29
At this point, this is no longer an issue as this occurred with a very dated version of tribe events

[2016-12-27 18:42] #29 closed

[2017-01-04 13:02] yderindere opened #36 "Error with Visual Composer"
Hello,
Thank you for this plugin. I am getting the following error when using with Visual Composer.

`Uncaught TypeError: Cannot read property 'getRelatedTab' of undefined
`
`a.fn.init.$.fn.(anonymous function) [as hide]
`

![ekran resmi 2017-01-04 15 58 56](https://cloud.githubusercontent.com/assets/6400048/21642976/6d4f1dfa-d28e-11e6-9b15-0d85e7e32c08.png)

Do you have an idea about that?

Thank

[2017-01-04 20:41] #36 closed

[2017-01-09 17:11] fredleput opened #37 "Unable to make it works, help lease"
Hi, i've red all messages on support forum, but i can't make conditional fields work. here's my function.php file :

[code]

[code]

according to me, the actualite_details field should appear only if actualite_savplus select field is on 'oui' value, but it doesn't work. i've checked the field actualite_details has data-conditionnal-id and data-conditional-value property (see screenshot).
![cmb-fie

[2017-01-10 10:48] #37 closed

[2017-01-10 11:00] fredleput opened #38 "wysiwig conditionnal required"
Hi,

I was wondering if it's possible to make a wysiwyg conditional field required only if he is shown.

[2017-02-16 20:45] TheNewGuy16 commented on #6
Another note is that the above code is getting the _data-conditional-id_ attr in the _data-conditional-value_ spot mixed up you need to switch those around. I think that is why you had to add the js code.  I got rid of the js code and the id in the input you added and it still works.
So basically I did my 'after_field' code like this

`'after_field' => "<input name="sample_name type='hidden' data-

[2017-02-22 21:24] dash8x opened #39 "Does not work on numeric values."
If the data-conditional-value is numeric then it  doesn't recognize the selected value as the same.

[2017-03-15 15:56] fakeartist commented on #6
@EricTousignant Hi! I added the after_field arg you mention in the wysiwyg field I want to hide, but it does not work. I'm using version 1.0.4. Any idea why?

[2017-03-15 16:04] TheNewGuy16 commented on #6
I would have to see your code to decide what you are doing wrong.  DO you have all your conditional values set up correctly for the wysiwyg field and for the radio or check box or select field the is suppose to show it?

[2017-03-15 16:07] fakeartist commented on #6
@EricTousignant Just saw the comment of @ @galengidman and his suggestion works great!

[2017-03-15 17:51] fakeartist opened #40 "Frontent attempt, does not work with cmb2_metabox_form function"
Hi! I've made a form with conditional fields, all work fine on the backend.

What I want to do is show the same conditional logic on the frontend but it does not work.

I use the standard cmb2 function cmb2_metabox_form to do so, the form show fine, but the conditional logic is ignored.

Anyone that has come up with this issue?

[2017-03-15 18:04] jrfnl commented on #40
Duplicate of #18, #19. #23

[2017-03-29 11:51] fakeartist opened #41 "Does it work with hidden fields?"
Hi. I have a hidden input and another field. I want, depending of the hidden input's value, to show or hide the other field. I try to do it by using the code below, but it doesn't work. The other field is always hidden. Any ideas why?
[code]

[2017-03-30 13:53] fakeartist commented on #35
Same here. Would be great if we could add an AND or OR combination of attributes.

[2017-04-03 13:16] philerb opened #43 "Status of the plugin"
Just wanted to check on the status of this plugin. I noticed it's no longer available in the WordPress repo and there hasn't been a release in a while.

Or perhaps there's another way to do conditional logic that I haven't come across?

Thanks for your work!

[2017-05-18 14:48] salvatorifabio77 commented on #33
Same problem

[2017-05-20 07:08] jcchavezs commented on #43
@philerb it has never been available in WordPress, it is actually very complicated to sync svn and git so I gave up with that and just keep here. However, there are Github tags in the readme so wordpress git plugins can find it.

In general I am not dedicating much time to it as I am not using it anymore so I'd rather prefer the community to work on the improvements they need for making this suit

[2017-07-19 21:30] JasonHoffmann opened #47 "Problem with checkbox conditionals"
For some reason, I can't seem to get the conditionals to work on checkbox field. Using a much older version of the plugin (from a few years ago) and it works fine, but the latest version does not. Select field types work just fine as well, but neither `checkbox` or `multicheck` types work.

I'm using code straight from the example-functions.php file. Is there something that I'm missing?

Thanks!

[2017-07-19 21:37] #47 closed

[2017-07-26 17:17] emwebber opened #48 "Functional examples"
Could functional examples or demos and additional documentation be added to the Wiki for those of us that are not programmers?

[2017-08-03 12:04] TsiartasM opened #49 "Need Help"
Hello,

I can not get this to work. Is anyone available to help me out?

I have added this as a plugin but I do not understand how to get it to work.

[2017-08-04 09:55] TsiartasM commented on #49
Ok, got it to work. Backend is working great. On the front end submission form, it does not work. Conditional Fields are all there. I have enqueued the script in my child theme functions but still not working as it should. Any ideas???

[2017-08-15 16:04] wester97 commented on #19
I resolved this by giving my content wrapper `id="post"`.  The init action of the conditionals javascript includes this target:

`CMB2ConditionalsInit( '#post', '#post .cmb2-wrap' );`

[2017-08-23 15:48] jimboobrien commented on #2
This is still a major problem. when new elements are added to the page via a group add button it has no idea what should be conditionally shown and defaults to the original state before fields were shown/hidden before/after cloning.

I have found some code in the original CMB2.js file that when commented out fixes some of my issues: https://github.com/CMB2/CMB2/blob/trunk/js/cmb2.js#L558

Please t

[2017-08-23 17:30] jcchavezs commented on #2
Hi @jimobrien, feel free to open a PR to address those issues, we will be
more than happy to merge it.

On ons. 23. aug. 2017, 17.48 Jimobrien <notifications@github.com> wrote:

--
*José Carlos Chávez*
Spain: (+34) 672921339
Perú: (+51) 708-5422 Anexo 918

https://github.com/jcchavezs

[2017-08-24 14:44] jimboobrien commented on #2
@jcchavezs I found the line of code in your plugin that is the problem. It is in line 201 of cmb2-conditionals.js. The line above it (200) has a comment that says Hides all conditional elements, but the selector .cmb-row:first is only hiding the first field in the group.

For now I suggest commenting out line 201 because that fixes my issue, but that does not solve the problem. I am happy to submi

[2017-09-07 15:52] bjacobs09 opened #50 "Problem with repeatable group with 'file' field or 'wysiwyg' field"
I have a repeatable group with many fields. Two of the fields are a 'file' field and a 'wysiwyg' field. All works fine on initial load. But when I click the button to add a new group, the file fields and wysiwyg fields break with the error "Cannot read property 'replace' of undefined".

For the file field, I can see that is is failing on the Add button of that cmb2 field. It can't find the fieldNa

[2017-10-24 20:50] sbouafif opened #51 "cmb2-conditionals should only work on cmb2 fields/metaboxes not all of them"
Hello,

For a client, I'm using another plugin (Post Public Preview - https://wordpress.org/plugins/public-post-preview/) to create a preview link for non logged in users when the post is in draft mode.

The plugin work like this:
- Adds a checkbox and an input field containing the url in the "submit box"
- the input field is not displayed when the checkbox is not checked
- when the checkbox is cl

[2017-10-24 22:34] jrfnl commented on #51
AFAIR if you did that, you would not be able to have a condition which depends on for instance the publish status and you wouldn't be able to have a condition depending on the status of a field another plugin adds.

[2017-10-25 00:02] sbouafif commented on #51
Oh I didn't see that cmb2-conditionals works with conditions with fields not created by cmb2. I was only using it with fields I created with cmb2.

The issue can be closed then ;)

[2018-01-06 08:23] K15Lmk98 opened #52 "Activate without using plugins"
Sorry, this is an automatic translation.

WP 4.9.1 - Cmb2 2.3.0 - Genesis Framework 2.5.3 (child theme)

If loading cmb2-conditionals as a plugin it works perfectly.

But if I try to load it as a script it will not activate. In functions.php:
require_once( 'vendor/cmb2/cmb2-conditionals/cmb2-conditionals.php');

It's possible to do it?

Thanks, Claudio_

[2018-01-10 08:43] K15Lmk98 opened #53 "Unexpected output during activation"
Sorry, this is an automatic translation.

Clean installation - WP 4.9.1 - Cmb2 2.3.0 - Twentysixteen

Hello,
activating the plugin I receive the msg:
The plugin generated 6366 characters of unexpected output during activation. If you notice “headers already sent” messages, problems with syndication feeds or other issues, try deactivating or removing this plugin.

This only happens the first time.

[2018-01-10 08:54] K15Lmk98 opened #54 "Wysiwyg type field error in Group field"
Sorry, this is an automatic translation.

Clean installation - WP 4.9.1 - Cmb2 2.3.0 - Twentysixteen

Hello,
Using a wysiwyg field, in Group field I receive a Javascript error in console:
"cmb2-conditionals.js?ver=1.0.4:220 Uncaught TypeError: Cannot read property 'replace' of undefined
at CMB2ConditionalsFindDependants (cmb2-conditionals.js?ver=1.0.4:220)"

The first instance of the group has no

[2018-02-27 17:44] humblehumans commented on #6
@galengidman ditto Name attribute did the trick combined with @EricTousignant  original recommendation

[2018-03-16 22:01] applesapples1 opened #55 "Not working on theme options page"

[2018-05-05 20:09] ecosyse commented on #19
@wester97
Can't believe I overlooked that. Haha. Thank you my friend. Using id="post" for content/form div is what I needed....after enqueing js for specific page template with form.

Cheers.

[2018-05-08 10:52] moizsahil commented on #55
Conditional plugin is not working on theme options.

$cookie_options = new_cmb2_box( array(
		'id'           => $prefix . 'metabox',
		'title'        => esc_html__( 'Cookie Notice', 'microlise' ),
		'object_types' => array( 'options-page' ),
		'option_key'      => 'microlise_cookies',
		'menu_title'      => esc_html__( 'Cookie Notice', 'microlise' ),
		'parent_slug'     => 'settings.php',
		'admin

[2018-05-23 18:09] asadkn opened #57 "Any reason not to support option pages?"
There seems to be no support for option pages by default. Is there any reason why not?

It can be added by modifying the cmb2-conditionals.js file with:

`CMB2ConditionalsInit('.cmb2-options-page', '.cmb2-options-page .cmb-field-list');`

And by adding the cmb2-conditional.js enqueu manually in the plugins. Now adding the enqueue is easy, but the JS code should exist in cmb2-conditionals.js by def

[2018-06-07 13:31] codeminelab commented on #53
Same here.

[2018-06-27 11:32] manzoorwanijk commented on #2
It still doesn't work. I have a non-repeatable field group conditionally dependent upon a checkbox. I manually tried to add the group attributes but it still didn't work.

[2018-07-10 11:08] pogla commented on #57
@asadkn Change [this line](https://github.com/jcchavezs/cmb2-conditionals/blob/master/cmb2-conditionals.js#L280) to:

[code]

Also, you will have to change [this line](https://github.com/jcchavezs/cmb2-conditionals/blob/master/cmb2-conditionals.php#L103) to something like:

[code]

Or just remove it.

[2018-07-10 11:10] pogla commented on #55
Answer here: #57

[2018-07-31 23:41] tw2113 commented on #57
Sorry for the GH issue noise, but thanks for the two pointers above for getting this working on options pages. Just what I was needing.

[2018-08-29 06:24] websumon opened #60 "Woocommerce variable product backend JS error"
Hi, I got an JS error when try to create Product Variations so I cannot saved variations. Please give me a solution. Thanks

I made a video about this error :

https://www.useloom.com/share/0dab8912f7744df2b75d7d786bea9836

[2018-08-30 04:17] dackr commented on #19
hello friends please can you help me
it works well in the back end but in the front end I have not managed to load the script but the conditional field does not work.
please can you let us see how you have to do in the front end an example please?

[2018-08-30 17:26] dackr opened #61 "conditional cmb2 works in back end but not in front end"
install conditional cmb2 and it works in the back end.
I managed to call the file cmb2-conditionals.js to the front end but the ocndicional does not work I have put the ID of the field.
please help
PS I have seen the related posts but they did not help me I have tried several things.

This is the code that works well in Back end but does not work in the front end.
call script in function.php

wp_e

[2018-08-30 17:29] dackr commented on #61
[code]

[2018-09-10 12:32] jitmaity21 opened #62 "required attribute not working"
$cmb->add_field( array(
		'name'    => __( 'Check', 'cmb2' ),
		'id'      => $prefix . 'type',
		'type'    => 'select',
		'options' => array(
			'type1' => __( 'Type 1', 'cmb2' ),
			'type2' => __( 'Type 2', 'cmb2' ),
			'type3' => __( 'Type 3', 'cmb2' ),
		),
		'attributes' => array(
			'required'            => true
		),
		'default' => 'type1',
	) );

	$cmb->add_field( array(
		'name'       => 'T

[2018-10-19 07:06] K15Lmk98 opened #63 "Show / hide entire group of fields"
This is an automatic translation

Hello,

maybe I did not understand the examples, but I can not condition (show / hide) an entire group of fields, directly from the creation from the main field of the group.

Instead it works if I apply the code to every single field in the group.

The conditional field is outside the group.

Code:

DOES NOT WORK
`	$cmb_cr_frontpage_image_id = $cmb_cr_frontpage_i

[2018-10-21 08:34] K15Lmk98 commented on #63
Hello,
I do not know if it's the correct way, but I've solved it with a little bit of personal javascript.

`if ( selectedValue == "posts" ) {
				frontpage_image_group . hide();
			} else if (selectedValue == "libere") {
				frontpage_image_group . show();
			} else {
				//
			}`

Claudio_

[2018-11-01 16:41] JoeHana opened #64 "Gutenberg Compatibility"
Gutenberg is coming soon and it seems like the Conditionals Functionality is not given for Metaboxes where Gutenberg is active. I've tried to modify the JS to init on #editor (in addition to #post) but for some reason that doesn't help. I checked the markup and found that there are of course many differences between a metabox loaded within the classic ui and one loaded within gutenberg, but still

[2018-11-05 08:01] jcchavezs commented on #64
Hi Joe,

Thanks for opening this issue. At the moment I don’t have available time to maintain this plugin (and I don’t work in Wordpress projects anymore) so I would expect users to come up with fixes for new releases. I know you tried to fixed it and I appreciate it so please if you manage to fix it and can come up with a PR for it. Maybe looking at changes in the original CMB plugin for Gutenber

[2018-11-29 16:57] dameer opened #65 "WordPress 5 - conditionals don't work. Any ideas?"
Just as the title says, conditionals do not work under WordPress 5 release candidate. Not sure whether it's Gutenberg shit or else. It shouldn't be coz I recall that G developers decided to leave meta boxes as is. CMB2 is fully functional tho.

[2018-11-29 18:11] jcchavezs commented on #65
I think it is just a matter to test it and add the compatibility. If you
can test it yourself we can update this.

Den tor. 29. nov. 2018, 17:57 skrev dameer dj <notifications@github.com:

[2018-11-30 08:08] dameer commented on #65
I'm using the latest CMB2 branch/trunk, there are no javascript or server side errors - that's what I can say for sure. Other than that I doubt I'm skilled enough for some serious debugging.
It must be some Gutenberg compatibility thing because all works fine with good old TinyMCE.

[2018-12-05 02:56] JoeHana commented on #65
The issue is bascially that with Gutenberg there is also some updated markup for the editor. The form element with the id="post" does not exist anymore and this is actually what the cmb2-conditionals.js is referencing.

Instead there is actually now a div element with the id="editor". I now tried to update the cmb2-conditionals.js in order that it gets initialized on #editor instead of #post but f

[2018-12-07 23:07] TheNewGuy16 commented on #65
I tried Joe's method and indeed it works a little.....like if you have a checkbox that adds a column or takes it away.  if you change the #post to #editor it will initiate but not save and when you add new rows it doesn't take in account the conditionals.  So for now I have installed the disable Gutenberg plugin and it restores the editor markup back to the original style and allows for conditiona

[2018-12-08 20:40] JoeHana commented on #65
@TheNewGuy16 Instead of #editor you should try .cmb2-wrap. For me it works just as fine as before.

[2018-12-09 08:42] dameer commented on #65
That doesn't work for me at all. Moreover, I've noticed that CMB2's color picker doesn't work too. Of course, regardless Conditionals.
Things are getting more and more complicated. My clients too. Damn Gutenberg.

[2018-12-09 10:16] dameer commented on #65
OK, here's the solution...

1. Open "cmb2-conditionals/js/cmb2-conditionals.js"
2. scroll down to the file bottom
3. change
`CMB2ConditionalsInit( '#post', '#post .cmb2-wrap' );`
... to ...
`CMB2ConditionalsInit( '.metabox-location-normal', '.metabox-location-normal .cmb2-wrap' );`
4. save, refresh, empty cache (BE SURE THE LATEST "cmb2-conditionals.js" is loaded!)

Things to keep on mind tho...

[2018-12-09 10:32] jcchavezs commented on #65
@dameer <https://github.com/dameer> would you be up to open a PR with such
a change?

Den søn. 9. des. 2018, 11:16 skrev dameer dj <notifications@github.com:

[2018-12-09 10:41] dameer commented on #65
You are the author of this plugin mate, give a shot to the code, consider the possible class name alterations and update. I don't wanna bother myself with Git stuff, I'm not into it. Beside, I've got too much work these days.

[2018-12-09 12:02] jcchavezs commented on #65
Great open source spirit.

Den søn. 9. des. 2018, 11:41 skrev dameer dj <notifications@github.com:

[2018-12-09 18:15] JoeHana commented on #65
@dameer no, sorry - my bad. I was confused and thought you had just 2 classes in one param. However, its working for me with just one param which is .cmb2-wrap. But will do more testing later as I need to work with that on a current project anyway. Will review accordingly.

[2019-06-10 14:46] Rcreators opened #74 "Solution to use cmb2-conditionals into theme and plugin directly and also work with Nested Group Fields"
I have copied code from this repo and updated it here:

https://github.com/Rcreators/cmb2-conditionals

I am not sure how to create pull request. But it works well with nested group and can use inside your theme and plugin as well.

[2019-07-22 09:10] koffielyder commented on #24
I added this custom javascript code to cmb2-conditionals.js on line 38 and fixed it;

`changeContext.on( 'click', 'a.cmb-shift-rows', function() {
    $.each( $('#dynamic_boxes_repeat_group_repeat .cmb-repeatable-grouping'), function( key, value ) {
        $(value).find("select").trigger("change");
    });
});`

[2019-09-10 07:59] hmbashar commented on #65
Hi, You may watch the tutorial. how to use the addon as a plugin or how to use the plugin with your theme.
I've got the tutorial, maybe you may get help from the tutorial.
https://youtu.be/ZyS2wxC_suE

[2019-12-10 10:36] Jimmi08 commented on #22
I had the same problem when using wpcasa theme with this script and Visual Bakery plugin. This fix helped. Thank you, guys.

[2019-12-10 11:18] jcchavezs commented on #22
Is any of you guys up for coming up with a PR?

tir. 10. des. 2019, 11:36 skrev Jimako <notifications@github.com>:

[2019-12-10 12:04] Jimmi08 commented on #22
@jcchavezs I could do it, but I am not the author and I am not familiar with CMB enough to be sure it doesn't break something. I just wanted to confirm that it helped with my problem.

[2020-04-13 20:40] Diza opened #76 "Polylang compatibility problem"
There is a problem with constantly reloading the page on the post editing screen if there is a  Polylang's language choise <select> on it.
The problem is caused by triggering the "change" event on that element in cmb2-conditionals.js

[2020-04-18 12:20] pgroot91 opened #77 "Conditional values are returning all matching values instead of exact matches."
Eg: Conditional value key = **BROMFIETS** and **FIETS**.

If **FIETS** both conditional fields are returned...

**Cases:**
'Bakfiets' <> 'fiets',
'xl' <> 'l',
'11' <> '1',
'B,E' <> 'E'

[2020-04-18 21:41] pgroot91 commented on #77
Also have the same with the 'B,E' and 'D,E'.... 'B', 'D' and 'E'.

Will double check the demo.... but the demo/example with the following: xs, s, l, xl etc etc should fail too. when you set eg **xl** as `data-conditional-value`. so that field will also popup on **l**.

[2020-04-18 21:54] pgroot91 commented on #39
Not sure but i could be the same as #77 ...

'Bakfiets' <> 'fiets',
'xl' <> 'l',
'11' <> '1',
'B,E' <> 'E'

All give unwanted results since the ID/data-conditional-value doesn't check exact match.

[2020-04-18 22:03] jcchavezs commented on #39
Hi both. Thanks for raising the issue. Unfortunately I am out from
wordpress world since long time ago so maybe you can come up with a PR
taking a stab on the fix?

José Carlos Chávez

lør. 18. apr. 2020 kl. 23:54 skrev Patrick Groot <notifications@github.com>:

[2020-04-19 10:02] pgroot91 commented on #77
Oops was testing the wrong plugin! I'm so sorry!

Was testing conditional-logic.

This plugin seems to handle those cases just fine 👍

[2020-04-19 10:02] #77 closed, assigned to nobody

[2022-03-17 01:18] #31 closed